    <!-- footer -->
    <footer class="my-5 mt-5"> <!-- mt-5 correspond à margin top -->
        <div class="container">
            <div class="row gy-4">
                <div class="col-12">
                    <div class="footer-content css-container text-center">
                        <ul>
                            <p>
                                <p><strong>Sea of stars</strong> — <a href="mailto:paul.mailmusique@gmail.com">paul.mailmusique@gmail.com</a></p>
                            </p>
                            
                            <p>
                                <p><strong>Paul Maillard</strong> — <a href="mailto:paul.maillard05@gmail.com">paul.maillard05@gmail.com</a></p>
                            </p>
                            
                            <p>
                                © 2026 <span class="nom">Tous droits réservés.
                            </p>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>