<!-- header piano -->
<!--header class="my-5  mt-4">
  <div class="container">
      <div class="row gy-4">
          <div class="col-12">
              <div class="header-banner css-container text-center">
              </div>
          </div>
      </div>
  </div>
</header-->

<!-- header pages -->

<button class="menu-toggle" aria-label="Ouvrir le menu">☰</button>

<header class="site-header css-container mt-4">
    <nav class="site-nav" id="nav">
      <a href="/index.html">Musiques</a>
      <a href="/covers.html">Couvertures d’album</a>
      <a href="/portfolio.html">Portfolio</a>
      <a href="/cv.html">Mon CV</a>
    </nav>
</header>

<div class=" toggle-theme-wrapper">
  <button class="toggle-theme" id="toggle-theme">
    <img src="img/dark-mod.svg" alt="Changer le mode">
  </button>
</div>